body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
  }
  
  header {
    background-color: #dc143c;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffa07a;
  }
  
  .section {
    padding: 40px;
    text-align: center;
  }
  
  #home {
    background-color: #ffffff;
    color: #000000;
  }
  
  #paygorn {
    background-color: #ffe4c4;
    color: #000000;
  }
  
  #socials {
    background-color: #228b22;
    color: #ffffff;
  }
  
  .images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .images img {
    border-radius: 10px;
    margin: 0 10px;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
  }
  
  .images img:hover {
    transform: scale(1.05);
  }
  
  .discord-logo {
    margin-top: 30px;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc143c;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: none;
  }
  
  .scroll-to-top:hover {
    background-color: #ffa07a;
  }
  
  footer {
    background-color: #f5f5f5;
    color: #666666;
    padding: 10px;
    text-align: center;
  }
  